@charset "UTF-8";

    /* Não precisa declarar o media All nas mediaqueires porque todos os arquivos estão rodando no mesmo estilo */
    /* Estilo da página principal */

    * {
        margin: 0px;
        padding: 0px;
    }

    body, html {
        height: 100vh;
        width: 100vw;
        font-family: sans-serif;
    }

    body {
        background-color: #233eff;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    h1 {
        padding: 10px;
    }
    
    /* Configurações para o tipo de tela no modo retrato (portrait) */
    @media  screen and (orientation: portrait) {
        body {
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
    }
    }

    /* Configurações para o tipo de tela no modo paisagem (landscape) */
     @media screen and (orientation: landscape) {
        body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
    }
     }