@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
body{
    font-family: 'Aguafina Script', cursive;
    background-image: linear-gradient(to right, #BD2A2E, #3B3936);
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 700px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.233);
}
h1{
    color: #738081;
    text-align: center;
    text-shadow: 2px 2px #af41455e;
}
h2,p{
    font-family: sans-serif;
}