@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > span#menu {
        display: none;
    }
    
    header > menu {
        display: block;
    }

    header > menu > ul > li {
        display: inline-block;
        margin: 0px 5px 2px 5px;
    }

    main {
        width: 768px;
    }
}
