@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px  ;
}

:root {
    --cor-01:#d7d7d9dc;
    --cor-02:#BFB4AE;
    --cor-03:#736C5F;
    --cor-04:#403D34;
    --cor-05:#262621;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-02);
}

header {
    background-color: var(--cor-04);
    color: var(--cor-01);
    border-bottom: 1px solid var(--cor-05);
}

header > #primario {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.6em;
    padding: 10px;
    text-transform: uppercase;
}

header > menu > ul > li  {
    text-align: center;
}

header > menu > ul > li > a {
    font-weight: bolder;
    text-decoration: none;
    color: var(--cor-01);
    background-color: var(--cor-03);
    display: block;
    padding: 10px;
    font-family: sans-serif;
    border-top: 1px solid var(--cor-05);
    text-shadow: 0px 0px 1px rgba(74, 74, 74, 0.227);
}

header > menu > ul > li > a:hover {
    background-color: var(--cor-02);
    color: var(--cor-05);
    transition-duration: 0.9s;
}

main {
    background-color: #ffffff7d;
    width: 96vw;
    margin: 10px auto;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.303);
}

main > article > h1 {
    font-size: 1.4em;
    font-family: sans-serif;
    font-variant: small-caps;
    padding: 10px;
}

main > article > p {
    font-family: sans-serif;
    line-height: 26.5px;
    text-align: justify;
    text-indent: 30px;
}

footer {
    background-color: var(--cor-04);
    padding: 10px;
}

footer > p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.1em;
}

footer > p > a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.723);
}