@charset "UTF-8";

/* Estilo para o index principal */

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(109, 117, 125, 0.36);
}

header {
    background-color: rgba(128, 128, 128, 0.53);
    height: 120px;
    width: 100vw;
}


header > h1 {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

header > nav > ul > li {
    background-color: gray;
    display:inline-block;
    margin: 50px 10px;
    border: 1px solid #000;
}

header > nav > ul > li > a {
    text-decoration: none;
    font-size: 1.53em;
    color: #000;
    font-family: sans-serif;
}

main > h2 {
    text-align: center;
    font-size: 1.6em;
    font-family: sans-serif;
    padding: 10px;
}

main {
    display: block;
    margin: auto;
    width: 600px;
    font-size: 1.4em;
    text-align: justify;
    text-indent: 10px;
    line-height: 32px;
    background-color: #fff;
    padding: 10px;
}