@charset "UTF-8";
body{
    background-color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    background-color: dimgrey;
    color: black;
}
h2{
    color:crimson;
}