@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #45C4B0, #9AEBA3); background-attachment: fixed; 
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #012030a6;
}
h1{
    color: #012030;
    text-align: center;
    text-shadow: 2px 2px #a4fcaeb9;
}
h2{
    color: #13678A;
}
p{text-align: justify;}