@charset "UTF-8";

/*Estilização para a página principal do  meu site com media queries*/

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color: #233eff;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 0px #101d7e;
    color: #fff;
}
