@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
}

main > #container > .conteudo {
    margin: 0px auto;
    width: 93%;
    background-color: #000000;
    text-align: justify;
    text-indent: 30px;
    line-height: 30px;
    padding-top: 50%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    margin-bottom: 30px;
    height: 100vh !important;
    
}

main > h1 {
    color: #d3d3d3;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding-top: 50vh;
    text-align: center;
    background-image: url(imagens/códigos.jpg);
    height: 95vh !important;
    width: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main > h2 {
    color: #000000;
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    padding-top: 50vh;
    text-align: center;
    background-image: url(imagens/galaxia.jpg);
    height: 95vh !important;
    width: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}